// COLORS
$color-primary: rgb(89, 27, 7);
$color-primary-hover: rgb(144, 71, 7);
$color-primary-light: rgb(253, 223, 211);

$color-background: rgb(174, 162, 31);
$color-menu: rgb(64, 27, 6);

$color-title-desktop: rgba(70, 33, 1, 0.8);

$color-gradient: rgba(rgb(255, 255, 255), 1);
$color-product-background: rgb(251, 199, 110);
$color-hover-product: rgb(217, 72, 0);
