@import "../abstracts/_variables";

.logo2 {
  display: flex;
  align-items: center;
  // margin-top: 1rem;
  & span {
    font-size: 4rem;
    display: block;
    font-weight: 800;
    font-family: "Suez One", serif;
    letter-spacing: 3px;
    color: $color-menu;
    text-shadow: 0px 1px 0px white, 1px 2px 1px black;
    text-align: center;
    @media only screen and (max-width: 75em) {
      font-size: 3rem;
    }
    @media only screen and (max-width: 43.5em) {
      margin-left: 1rem;
    }
  }

  & span:first-child {
    font-size: 2.5rem;
    @media only screen and (max-width: 75em) {
      font-size: 1.7rem;
    }
  }
  &__icon {
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    color: rgb(217, 72, 0);
    margin-left: auto;
    @media only screen and (max-width: 75em) {
      width: 5rem;
      height: 5rem;
      margin-left: 1rem;
    }
  }
}
.hide-desktop,
.hide-contact {
  display: none;
  @media only screen and (max-width: 43.5em) {
    display: block;
  }
}
.hide-contact {
  display: none;
}
