@import "../abstracts/_variables";

.products {
  width: 100%;

  // height: 160vh;
  // background-color: $color-product-background;
  background-image: linear-gradient($color-product-background 20%, rgb(239, 236, 217), $color-product-background);

  position: relative;
  padding-top: 10rem;
  padding-bottom: 10rem;

  &::after {
    content: "";
    width: 100%;
    height: 90px;
    position: absolute;
    top: -2rem;
    background-image: linear-gradient(to top, $color-product-background, rgb(239, 236, 217));
  }
}
